[submodule "AnsibleEssentials"]
	path = AnsibleEssentials
	url = https://github.com/michael-steinert-repository/AnsibleEssentials.git
[submodule "TerraformEssentials"]
	path = TerraformEssentials
	url = https://github.com/michael-steinert-repository/TerraformEssentials.git
[submodule "PrometheusEssentials"]
	path = PrometheusEssentials
	url = https://github.com/michael-steinert-repository/PrometheusEssentials.git
