[submodule "AnsibleEssentials"]
	path = AnsibleEssentials
	url = https://github.com/michael-steinert-repository/AnsibleEssentials.git
[submodule "TerraformEssentials"]
	path = TerraformEssentials
	url = https://github.com/michael-steinert-repository/TerraformEssentials.git
[submodule "PrometheusEssentials"]
	path = PrometheusEssentials
	url = https://github.com/michael-steinert-repository/PrometheusEssentials.git
[submodule "KubernetesEssentials"]
	path = KubernetesEssentials
	url = https://github.com/michael-steinert-repository/KubernetesEssentials.git
[submodule "DockerEssentials"]
	path = DockerEssentials
	url = https://github.com/michael-steinert-repository/DockerEssentials.git
[submodule "Java8StreamsExceptionHandler"]
	path = Java8StreamsExceptionHandler
	url = https://github.com/michael-steinert-repository/Java8StreamsExceptionHandler.git
[submodule "TypeScriptEssentials"]
	path = TypeScriptEssentials
	url = https://github.com/michael-steinert-repository/TypeScriptEssentials.git
